.navbar{ background:#F97300;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-collapse{
    justify-content: flex-end;
   }

   .bg-dark{
    background-color:#343a40!important
    }
    .bg-primary{
    background-color:#007bff!important
    }
    .overlay{
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
        background: rgba(244, 244, 244, 0.79);
       }

       #profesionalPhoto {
       border-radius: 50%;
       max-width: 75%;
       float: center;


       }

       .float-container {
        padding: 2rem;
    }

    #inspirationalQuote {
        float: center;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 2.5rem;
        align-items: center;
        margin: auto;
        text-align: center;

    }


    h6 {
        font-size: 5vw;
        text-align: center;
    }

    h8 {
        margin-top: 1rem;
        line-height: 2rem;
        padding-;
    }

    #undergraduateGraduation {
       max-width: 100%;
       margin-left: auto;
       margin-right: auto;
       align-items: center;
    }

    .logo-image{
        width: 20rem;
        align-content: 1rem;
        overflow: hidden;
        margin-top: -1rem;
    }